:root{
  --primary-color: #F1F1F1;
}

@font-face {
  src: url("~/assets/fonts/OpenSans-Bold.ttf");
  font-family: openSansBold;
}
@font-face {
  src: url("~/assets/fonts/OpenSans-Medium.ttf");
  font-family: openSansMeduim;
}
@font-face {
  src: url("~/assets/fonts/OpenSans-Regular.ttf");
  font-family: openSansRegular;
}

